@import '~shared/variables.less';

.section-holder{
    position: relative;
    display: flex;
    height: 100%;

    .controls-holder{
        width: @size-2;
    }

    .instrument-holder{
        flex: 1;
    }

    .selection-holder{
        position: absolute;
        top: 0;
        right: 0;
        width: @size-10;
        margin: @padding-2
    }
}