.sequences{
    position: relative;
    padding: 100px;
    margin: 0;
    list-style: none;
    background: url(/images/bg05.jpg);

    &>li{
        padding: 10px 0 0;

        &:first-child{
            padding-top: 0;
        }
    }
}