@import '~shared/variables.less';
@import '~shared/mixins.less';

.stop-button {
    .button-1({
      width: 18px;
      height: 18px;
      background: @color-6;
    }, 
    {
      background: #83cec3;
    });
}