.stop-button {
    width: 20px;
    height: 20px;
    background: #000;
    margin-left: 10px;
    border: 0;
    vertical-align: top;
    padding: 0;
    &.active {
        background: gray;
    }
    &:hover {
        cursor: pointer;
    }
}