@import '~shared/variables.less';
@import '~shared/mixins.less';

.stop-button {
    .button-1({
      width: @size-1 / 2;
      height: @size-1 / 2;
      background: @color-6;
    }, 
    {
      background: @color-4;
    });
}