@import '~shared/variables.less';

.dashboard {
    position: relative;
    padding: @padding-4;
    box-shadow: @shadow-2;
    background: @background-1;
    width: @dashboard-size;


    &:before {
        @offset: @padding-2;
        border: 1px solid @color-6;
        content: "";
        position: absolute;
        top: @offset;
        bottom: @offset;
        left: @offset;
        right: @offset;
    }

    &> *{
        margin-bottom: @padding-2;

        &:last-child{
            margin-bottom: 0;
        }
    }
}