@import "~shared/mixins.less";

.analyser{
    background-image: linear-gradient(to bottom, #000000, #ffffff), linear-gradient(#313131, #313131);
    background-blend-mode: multiply, normal;
    border-style: solid;
    border-width: 3px;
    border-image-source: linear-gradient(to top, #55524f, #262626);
    border-image-slice: 1;
    padding: 1px;

    &-holder{
        position: relative;
        border: 1px solid #f26522;
    }

    canvas{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}