@import "~shared/mixins.less";

.analyser{
    .box-2();

    &-holder{
        position: relative;
        border: 1px solid #f26522;
    }

    canvas{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}