@import "~shared/variables.less";
@import "~shared/mixins.less";

.modal{
    @border-radius: 5px;
    @inner-padding: 15px 10px;

    .box-4();
    position: relative;
    margin: 0 auto;
    border-radius: @border-radius;

    &-holder{
        border-radius: @border-radius;
        background: @background-3;
    }

    .head{
        .block-holder();
        padding: @inner-padding;
        margin: 0;
        height: auto;
        display: flex;
        justify-content: space-between;

        .title{
            font-size: 19px;
            color: #b7b6b4;
            text-transform: capitalize;
        }

        .close{
            .close-button();
        }
    }

    .content{
        font-size: 19px;
        padding: @inner-padding;
        color: #fef9f6;

        &.confirmation{
            width: 200px;
            text-align: center;
        }
    }

    .buttons{
        .box-1();
        margin: 0 auto;

        &-holder{
            display: flex;
            padding: 20px 0 0;
        }

        .button{
            .box-4();
            text-align: center;
            font-size: 16px;
            color: #c8c8c8;
            margin: 0 @padding-1;
            border: 0;
            width: 75px;
            cursor: pointer;

            &:hover{
                color: #83cec3;
                text-shadow: 0 0 5px #83cec3;
            }

            &:active{
                color: #83cec3;
                text-shadow: 0 0 5px #83cec3;
                box-shadow:0 0 5px 1px #83cec3;
            }

            &-holder{
                .box-3();
                display: block;
            }
        }
    }
}