@import "~shared/variables.less";
@import "~shared/mixins.less";

.step{
    width: 46px;
    height: 50px;
    overflow: hidden;
    cursor: pointer;
    background: url('/images/step-1.png') no-repeat;

    &.even{
        background-image: url('/images/step-2.png');
    }

    &.active{
        background-image: url('/images/step-1-active.png');

        &.even{
            background-image: url('/images/step-2-active.png');
        }
    }
}