@import "~shared/variables.less";
@import "~shared/mixins.less";
@import "~shared/sprite.less";

.step{
    width: @step-width;
    height: @step-height;
    overflow: hidden;
    cursor: pointer;
    .sprite(@step-1);

    &.even{
        .sprite(@step-2);
    }

    &.active{
        .sprite(@step-1-active);

        &.even{
            .sprite(@step-2-active);
        }
    }
}