.play-button{
    @border-width: 10px;

    width: 20px;
    height: 20px;
    background: none;
    border: @border-width solid transparent;
    border-left-color: #000;
    border-right: 0;
    cursor: pointer;

    &.active{
      border-left-color: gray;  
    }
}