@import "~shared/variables.less";
@import "~shared/mixins.less";

.slider-mixin(@range-height, @backgroundPadding){
    @handler-width: 11px;
    @handler-height: 20px;

    width: 100%;
    height: @handler-height;
    position: relative;
    display: block;

    &:before{
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: @range-height;
        margin: -(@range-height / 2) 0 0;
        border-radius: @range-height / 2;
        border-top: 1px solid rgba(0, 0, 0, 0.4);
        box-shadow: inset 0px 2px 5px 0 rgba(50, 50, 50, 0.6),
                    inset 0px -1px 1px rgba(255, 255, 255, 0.3);
    }

    &:after{
        @padding: @backgroundPadding;
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        padding: @padding;
        height: @range-height;
        border-radius: (@range-height / 2) + @padding;
        margin: -(((@range-height / 2) - 1) + @padding) -(@padding + 2) 0;
        box-shadow: inset 0px 2px 5px 0 rgba(0, 0, 0, 0.2), 
                    inset 0px -1px 1px rgba(255, 255, 255, 0.1);
    }

    .handler{
        &-holder{
            position: relative;
            height: @handler-height;
        }

        height: 100%;
        top: 0;
        left: 50%;
        position: absolute;
        width: @handler-width;
        margin-left: -(@handler-width / 2);
        cursor: pointer;
        border-radius: 2px;
        background-color: #aeadab;
        box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.27);
        display: flex;
        align-items: center;

        &:before{
            content: '';
            display: block;
            margin: 0 auto;
            width: 3px;
            height: 16px;
            border-radius: 1px;
            background-color: #83cec3;
        }
    }

    :global .bar{
        position: absolute;

        &-0{
            top: 50%;
            left: 0;
            height: @range-height;
            margin: -(@range-height / 2) 0 0;
            border-radius: @range-height / 2;
            background: #83cec3;
        }
    }
}

.slider.medium{
    .slider-mixin(4px, 3px);
}

.slider.large{
    .slider-mixin(4px, 3px);
}