@import "~shared/variables.less";
@import "~shared/mixins.less";

.dropdown{
    .box-3();
    width: 201px;
    height: auto;
    font-size: 18px;

    color: #fff;
    position: relative;
    z-index: 100;

    @inner-padding: 14px;

    &-wrapper{
        padding: 3px;
    }

    &-holder{
        height: 36px;
        position: relative;
        z-index: 200;

        &.style1 .dropdown-wrapper{
            .box-5();
        }

        &.style2 .dropdown-wrapper{
            .box-6();
        }
    }

    .border{
        border-top: 1px solid #575555;
        box-shadow: inset 0 1px 0 #6b6a6a;
    }

    &-list{
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 14px;
        line-height: 29px;
        text-transform: capitalize;

        &>li{
            .border();
            cursor: pointer;
            padding: 0 @inner-padding;

            &:hover{
                background: @color-2;
            }

            &:first-child{
                border-top: 0;
                box-shadow: none;
            }
        }

    }

    &-trigger-area{
        position: relative;
        color: @color-1;
        line-height: 30px;
        padding: 0 @inner-padding;
        display: block;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;

        .value{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .arrow{
            @size: 10px;
            width: @size;
            height: @size;
            border: 2px solid #fff;
            border-top: 0;
            border-left: 0;
            transform: rotate(45deg);
            margin: -3px 0 0;
        }
    }

    .holder{
        margin: 0 0 0 -9999px;
        position: absolute;
        width: 100%;
        .border();
    }

    &.active{
        .holder{
            margin: 0;
            position: relative;
        }

        .arrow{
            transform: rotate(-135deg);
            margin: 10px 0 0;
        }
    }
}