@import '~shared/variables.less';
@import '~shared/mixins.less';

.effect{
    border: 1px solid #959595;
    border-top: 0;
    border-radius: 0 0 10px 10px;

    &-holder{
        padding: 16px 0 0;
    }

    .head{
        font-size: 16px;
        display: flex;
        justify-content: space-between;
        position: relative;
        top: -8px;
        margin: 0 -1px;
        white-space: nowrap;
        color: @color-1;
        text-transform: capitalize;

        .name{
            padding: 0 5px;
            margin: -8px 10px 0;
        }

        .separator{
            flex: 1;
            border-top: 1px solid #959595;

            &:first-child{
                border-left: 1px solid #959595;
                border-radius: 10px 0 0 0;
            }

            &:last-child{
                border-right: 1px solid #959595;
                border-radius: 0 10px 0 0;
            }
        }
    }

    &.active{
        border-color: #699f97; 

        .head {
            color: #699f97;

            .separator{
                border-color: #699f97; 
            }
        }
    }

    .mute{
        .mute-button();
    }

    .content{
        display: flex;
        padding: 0 19px 10px;
        align-items: center;

        .separator{
            border-left: 1px solid @color-14;
            height: 56px;
        }
    }

    .block{
        padding: 0 16px;
    }
}