@import '~shared/variables.less';
@import '~shared/mixins.less';

.bpm-editor{
    display: flex;
    align-items: center;

    .title{
        font: 30px/ 24px 'SFUIDisplay';
        color: #fffaf7;
        margin: 0 10px 0 0;
    }

    .input-holder{
        .box-2();
    }

    input{
        background-image: linear-gradient(to left, #193230, #262626 25%, #262626 75%, #1a3331);
        font: 36px/27px 'digits';
        color: #83cec3;
        border: 1px solid #3a4c48;
        margin: 0;
        padding: 0 @padding-1;
        text-align: center;
        width: 80px;
    }
}