@import '~shared/variables.less';
@import '~shared/mixins.less';

.sequence{
    display: flex;
    align-items: center;

    .control-holder{
        padding-right: @padding-4;
    }

    .remove{
        .remove-button();
    }
}