@import "~shared/variables.less";

.fit{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.gradient(@top-color, @bottom-color){
    background: linear-gradient(to bottom, @top-color, @bottom-color);
}

.gradient-1{
    .gradient(@color-9, @color-6);
}

.gradient-2{
    .gradient(@color-8, @color-10);
}

.gradient-3{
    .gradient(@color-11, @color-7);
}

.gradient-4{
    .gradient(@color-7, @color-6);
}

.gradient-5{
    .gradient(@color-11, @color-6);
}

.gradient-6{
    background: linear-gradient(to bottom, @color-14, @color-15 25%, @color-16);
}

.gradient-7{
    background: linear-gradient(to bottom, @color-14, @color-15 50%, @color-16);
}

.corner(@width, @height, @color){
    width: 0;
    height: 0;
    border-top: (@height / 2) solid transparent;
    border-bottom: (@height / 2) solid transparent;
    border-left: @width solid @color;
    border-right: 0;
    background: transparent;
}

.button-1(@content, @activeContent){
    position: relative;
    width: 77px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    .box-3();

    &:after{
        content: '';
        display: block;
        margin: 0 auto;
        @content();
    }

    &:hover{
        &:after{
            @activeContent();
        }
    }

    .active{
        &:after{
            @activeContent();
        }
    }

    &:active, &.active{
        .active();
    }
}

.button-2{
    .gradient(@color-15, @color-17);
    padding: 0 @padding-4;
    border-radius: @radius-2;
    cursor: pointer;
    box-shadow: @shadow-1;
    border: 0;
    font-size: @font-size-1;
    line-height: @size-1;
    color: @color-1;

    &:hover{
        .gradient(@color-17, @color-15);
    }

    .active{
        background: @color-14;
        box-shadow:inset @shadow-1;
    }

    &:active, &.active{
        .active();
    }
}

.mono-area{
    background: @color-12;
    box-shadow: inset @shadow-1;
}

.remove-button{
    background: url('/images/close.png');
    width: 26px;
    height: 26px;
    cursor: pointer;

    &:hover{
        background: url('/images/close-hover.png');
    }

    &:active{
        background: url('/images/close-active.png');
    }
}

.mute-button{
    width: 22px;
    height: 22px;
    cursor: pointer;
    background: url('/images/mute-button.png') no-repeat;

    &.active{
        background-image: url('/images/mute-button-active.png');
    }
}

.block-holder{
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px;
    margin: 0 0 10px;
    border-bottom: 1px solid #292929;
    box-shadow: 0 1px 0 #3b3b3b;
    align-items: center;
    height: 80px;
}

.box-1{
    padding: 8px 13px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
    box-shadow: inset 0 -1px 1px  rgba(255, 255, 255, 0.1);
}

.box-2{
    background-image: linear-gradient(to bottom, #000000, #ffffff), linear-gradient(#313131, #313131);
    background-blend-mode: multiply, normal;
    border-style: solid;
    border-width: 3px;
    border-image-source: linear-gradient(to top, #55524f, #262626);
    border-image-slice: 1;
    padding: 1px;
}

.box-3{
    height: 35px;
    line-height: 35px;
    position: relative;
    border-radius: 8px;
    background: #5f5d5d;
    box-shadow: inset 0 0px 8px #464545;
    border: 3px solid #464545;
    box-sizing: content-box;

    &:before{
        content: '';
        .fit();
        box-shadow: 0 -2px 2px #787777;
        border-radius: 8px;
    }
}

.stroke(@color){
    margin: 0;
    background: @color;
    padding: 4px;
    border-radius: 10px;
    box-shadow:inset 0px -1px 1px #6b6a69;
}

.box-4{
  .stroke(#b6b5b4);

  &.active{
      box-shadow:0 0 5px 1px #83cec3;
  }
}

.box-5{
  .stroke(#699f97);
}

.box-6{
  .stroke(#f58427);
}