@import "~shared/variables.less";

.fit{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.gradient(@top-color, @bottom-color){
    background: linear-gradient(to bottom, @top-color, @bottom-color);
}

.gradient-1{
    .gradient(@color-9, @color-6);
}

.gradient-2{
    .gradient(@color-8, @color-10);
}

.gradient-3{
    .gradient(@color-11, @color-7);
}

.gradient-4{
    .gradient(@color-7, @color-6);
}

.gradient-5{
    .gradient(@color-11, @color-6);
}

.gradient-6{
    background: linear-gradient(to bottom, @color-14, @color-15 25%, @color-16);
}

.gradient-7{
    background: linear-gradient(to bottom, @color-14, @color-15 50%, @color-16);
}

.corner(@width, @height, @color){
    width: 0;
    height: 0;
    border-top: (@height / 2) solid transparent;
    border-bottom: (@height / 2) solid transparent;
    border-left: @width solid @color;
    border-right: 0;
    background: transparent;
}

.button-1(@content, @activeContent){
    width: @size-3;
    height: @size-1;
    padding: 0;
    border: 1px solid @color-6;
    border-radius: @radius-2;
    background: @color-11;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-shadow: @shadow-1;

    &:before{
        content: '';
        display: block;
        margin: 0 auto;
        @content();
    }

    .active{
        border-color: @color-4;
        box-shadow:inset @shadow-1;
        &:before{
            @activeContent();
        }
    }

    &:active, &.active{
        .active();
    }
}

.button-2{
    .gradient(@color-15, @color-17);
    padding: 0 @padding-4;
    border-radius: @radius-2;
    cursor: pointer;
    box-shadow: @shadow-1;
    border: 0;
    font-size: @font-size-1;
    line-height: @size-1;
    color: @color-1;

    &:hover{
        .gradient(@color-17, @color-15);
    }

    .active{
        background: @color-14;
        box-shadow:inset @shadow-1;
    }

    &:active, &.active{
        .active();
    }
}

.mono-area{
    background: @color-12;
    box-shadow: inset @shadow-1;
}

.remove-button{
    font-size: @font-size-1;
    color: @color-13;
    cursor: pointer;
}

.mute-button{
    .gradient-3();
    width: @size-1 / 2;
    height: @size-1 / 2;
    border-radius: @size-1 / 2;
    cursor: pointer;
    margin: 0 @padding-1 0 0;
    box-shadow: @shadow-1;

    &.active{
        .gradient-2();
    }
}