/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@bg01-name: 'bg01';
@bg01-x: 110px;
@bg01-y: 100px;
@bg01-offset-x: -110px;
@bg01-offset-y: -100px;
@bg01-width: 16px;
@bg01-height: 32px;
@bg01-total-width: 220px;
@bg01-total-height: 189px;
@bg01-image: '/shared/sprite.png';
@bg01: 110px 100px -110px -100px 16px 32px 220px 189px '/shared/sprite.png' 'bg01';
@bg05-name: 'bg05';
@bg05-x: 78px;
@bg05-y: 50px;
@bg05-offset-x: -78px;
@bg05-offset-y: -50px;
@bg05-width: 50px;
@bg05-height: 50px;
@bg05-total-width: 220px;
@bg05-total-height: 189px;
@bg05-image: '/shared/sprite.png';
@bg05: 78px 50px -78px -50px 50px 50px 220px 189px '/shared/sprite.png' 'bg05';
@bg06-name: 'bg06';
@bg06-x: 78px;
@bg06-y: 0px;
@bg06-offset-x: -78px;
@bg06-offset-y: 0px;
@bg06-width: 50px;
@bg06-height: 50px;
@bg06-total-width: 220px;
@bg06-total-height: 189px;
@bg06-image: '/shared/sprite.png';
@bg06: 78px 0px -78px 0px 50px 50px 220px 189px '/shared/sprite.png' 'bg06';
@close-active-name: 'close-active';
@close-active-x: 64px;
@close-active-y: 135px;
@close-active-offset-x: -64px;
@close-active-offset-y: -135px;
@close-active-width: 26px;
@close-active-height: 26px;
@close-active-total-width: 220px;
@close-active-total-height: 189px;
@close-active-image: '/shared/sprite.png';
@close-active: 64px 135px -64px -135px 26px 26px 220px 189px '/shared/sprite.png' 'close-active';
@close-hover-name: 'close-hover';
@close-hover-x: 90px;
@close-hover-y: 135px;
@close-hover-offset-x: -90px;
@close-hover-offset-y: -135px;
@close-hover-width: 26px;
@close-hover-height: 26px;
@close-hover-total-width: 220px;
@close-hover-total-height: 189px;
@close-hover-image: '/shared/sprite.png';
@close-hover: 90px 135px -90px -135px 26px 26px 220px 189px '/shared/sprite.png' 'close-hover';
@close-name: 'close';
@close-x: 116px;
@close-y: 135px;
@close-offset-x: -116px;
@close-offset-y: -135px;
@close-width: 26px;
@close-height: 26px;
@close-total-width: 220px;
@close-total-height: 189px;
@close-image: '/shared/sprite.png';
@close: 116px 135px -116px -135px 26px 26px 220px 189px '/shared/sprite.png' 'close';
@fx-active-name: 'fx-active';
@fx-active-x: 32px;
@fx-active-y: 135px;
@fx-active-offset-x: -32px;
@fx-active-offset-y: -135px;
@fx-active-width: 32px;
@fx-active-height: 32px;
@fx-active-total-width: 220px;
@fx-active-total-height: 189px;
@fx-active-image: '/shared/sprite.png';
@fx-active: 32px 135px -32px -135px 32px 32px 220px 189px '/shared/sprite.png' 'fx-active';
@fx-hover-name: 'fx-hover';
@fx-hover-x: 0px;
@fx-hover-y: 135px;
@fx-hover-offset-x: 0px;
@fx-hover-offset-y: -135px;
@fx-hover-width: 32px;
@fx-hover-height: 32px;
@fx-hover-total-width: 220px;
@fx-hover-total-height: 189px;
@fx-hover-image: '/shared/sprite.png';
@fx-hover: 0px 135px 0px -135px 32px 32px 220px 189px '/shared/sprite.png' 'fx-hover';
@fx-name: 'fx';
@fx-x: 78px;
@fx-y: 100px;
@fx-offset-x: -78px;
@fx-offset-y: -100px;
@fx-width: 32px;
@fx-height: 32px;
@fx-total-width: 220px;
@fx-total-height: 189px;
@fx-image: '/shared/sprite.png';
@fx: 78px 100px -78px -100px 32px 32px 220px 189px '/shared/sprite.png' 'fx';
@key-center-name: 'key-center';
@key-center-x: 0px;
@key-center-y: 0px;
@key-center-offset-x: 0px;
@key-center-offset-y: 0px;
@key-center-width: 26px;
@key-center-height: 135px;
@key-center-total-width: 220px;
@key-center-total-height: 189px;
@key-center-image: '/shared/sprite.png';
@key-center: 0px 0px 0px 0px 26px 135px 220px 189px '/shared/sprite.png' 'key-center';
@key-left-name: 'key-left';
@key-left-x: 26px;
@key-left-y: 0px;
@key-left-offset-x: -26px;
@key-left-offset-y: 0px;
@key-left-width: 26px;
@key-left-height: 128px;
@key-left-total-width: 220px;
@key-left-total-height: 189px;
@key-left-image: '/shared/sprite.png';
@key-left: 26px 0px -26px 0px 26px 128px 220px 189px '/shared/sprite.png' 'key-left';
@key-right-name: 'key-right';
@key-right-x: 52px;
@key-right-y: 0px;
@key-right-offset-x: -52px;
@key-right-offset-y: 0px;
@key-right-width: 26px;
@key-right-height: 128px;
@key-right-total-width: 220px;
@key-right-total-height: 189px;
@key-right-image: '/shared/sprite.png';
@key-right: 52px 0px -52px 0px 26px 128px 220px 189px '/shared/sprite.png' 'key-right';
@loud-name: 'loud';
@loud-x: 128px;
@loud-y: 100px;
@loud-offset-x: -128px;
@loud-offset-y: -100px;
@loud-width: 35px;
@loud-height: 31px;
@loud-total-width: 220px;
@loud-total-height: 189px;
@loud-image: '/shared/sprite.png';
@loud: 128px 100px -128px -100px 35px 31px 220px 189px '/shared/sprite.png' 'loud';
@mute-button-active-name: 'mute-button-active';
@mute-button-active-x: 22px;
@mute-button-active-y: 167px;
@mute-button-active-offset-x: -22px;
@mute-button-active-offset-y: -167px;
@mute-button-active-width: 22px;
@mute-button-active-height: 22px;
@mute-button-active-total-width: 220px;
@mute-button-active-total-height: 189px;
@mute-button-active-image: '/shared/sprite.png';
@mute-button-active: 22px 167px -22px -167px 22px 22px 220px 189px '/shared/sprite.png' 'mute-button-active';
@mute-button-name: 'mute-button';
@mute-button-x: 0px;
@mute-button-y: 167px;
@mute-button-offset-x: 0px;
@mute-button-offset-y: -167px;
@mute-button-width: 22px;
@mute-button-height: 22px;
@mute-button-total-width: 220px;
@mute-button-total-height: 189px;
@mute-button-image: '/shared/sprite.png';
@mute-button: 0px 167px 0px -167px 22px 22px 220px 189px '/shared/sprite.png' 'mute-button';
@mute-name: 'mute';
@mute-x: 142px;
@mute-y: 135px;
@mute-offset-x: -142px;
@mute-offset-y: -135px;
@mute-width: 28px;
@mute-height: 21px;
@mute-total-width: 220px;
@mute-total-height: 189px;
@mute-image: '/shared/sprite.png';
@mute: 142px 135px -142px -135px 28px 21px 220px 189px '/shared/sprite.png' 'mute';
@step-1-active-name: 'step-1-active';
@step-1-active-x: 174px;
@step-1-active-y: 50px;
@step-1-active-offset-x: -174px;
@step-1-active-offset-y: -50px;
@step-1-active-width: 46px;
@step-1-active-height: 50px;
@step-1-active-total-width: 220px;
@step-1-active-total-height: 189px;
@step-1-active-image: '/shared/sprite.png';
@step-1-active: 174px 50px -174px -50px 46px 50px 220px 189px '/shared/sprite.png' 'step-1-active';
@step-1-name: 'step-1';
@step-1-x: 174px;
@step-1-y: 0px;
@step-1-offset-x: -174px;
@step-1-offset-y: 0px;
@step-1-width: 46px;
@step-1-height: 50px;
@step-1-total-width: 220px;
@step-1-total-height: 189px;
@step-1-image: '/shared/sprite.png';
@step-1: 174px 0px -174px 0px 46px 50px 220px 189px '/shared/sprite.png' 'step-1';
@step-2-active-name: 'step-2-active';
@step-2-active-x: 128px;
@step-2-active-y: 50px;
@step-2-active-offset-x: -128px;
@step-2-active-offset-y: -50px;
@step-2-active-width: 46px;
@step-2-active-height: 50px;
@step-2-active-total-width: 220px;
@step-2-active-total-height: 189px;
@step-2-active-image: '/shared/sprite.png';
@step-2-active: 128px 50px -128px -50px 46px 50px 220px 189px '/shared/sprite.png' 'step-2-active';
@step-2-name: 'step-2';
@step-2-x: 128px;
@step-2-y: 0px;
@step-2-offset-x: -128px;
@step-2-offset-y: 0px;
@step-2-width: 46px;
@step-2-height: 50px;
@step-2-total-width: 220px;
@step-2-total-height: 189px;
@step-2-image: '/shared/sprite.png';
@step-2: 128px 0px -128px 0px 46px 50px 220px 189px '/shared/sprite.png' 'step-2';
@volume-name: 'volume';
@volume-x: 174px;
@volume-y: 100px;
@volume-offset-x: -174px;
@volume-offset-y: -100px;
@volume-width: 34px;
@volume-height: 34px;
@volume-total-width: 220px;
@volume-total-height: 189px;
@volume-image: '/shared/sprite.png';
@volume: 174px 100px -174px -100px 34px 34px 220px 189px '/shared/sprite.png' 'volume';
@spritesheet-width: 220px;
@spritesheet-height: 189px;
@spritesheet-image: '/shared/sprite.png';
@spritesheet-sprites: @bg01 @bg05 @bg06 @close-active @close-hover @close @fx-active @fx-hover @fx @key-center @key-left @key-right @loud @mute-button-active @mute-button @mute @step-1-active @step-1 @step-2-active @step-2 @volume;
@spritesheet: 220px 189px '/shared/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
