@color-1: #fff;
@color-2: lightslategrey;
@color-3: orange;
@color-4: darkslategrey;
@color-5: darkorange;

@padding-1: 5px;
@padding-2: 10px;
@padding-3: 15px;
@padding-4: 20px;
@padding-5: 25px;
@padding-6: 30px;

@radius-1: 10px;

@shadow-1: 0 1px 3px #000;

@opacity-1: 0.3;
@opacity-2: 0.5;
@opacity-3: 0.7;

@step-width: 30px;
@step-Height: 40px;

@step-color-1: @color-2;
@step-color-1-active: @color-3;
@step-color-2: @color-4;
@step-color-2-active: @color-5;

