@import '~shared/variables.less';
@import '~shared/mixins.less';

.pause-button {
    @border-width: 3px;

    .button-1({
      width: 2px;
      height: 17px;
      border:@border-width solid @color-6;
      border-top:0;
      border-bottom:0;
    }, 
    {
      border-color: #83cec3;
    });
} 