@import '~shared/variables.less';

.piano{
    border: 1px solid @color-6;

    .octaves{
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        height: @piano-height;

        &>li{
            flex: 1;
        }
    }
}