@import '~shared/variables.less';
@import '~shared/mixins.less';
@import '~shared/sprite.less';

.octave{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    height: 100%;

    .note{
        position: relative;
        margin: 0 0 0 1px;
        background: @color-1;
        flex: 1;
        background-image: linear-gradient(to bottom, #c0c4c4, #f2f2f0);
        border-radius: 0 0 5px 5px;
        border: 2px solid #bdbfbe;
        border-top-color:#d1d4d4;
        cursor: pointer;

        &:not(.semitone).active:before{
            content: '';
            .fit();
            margin: -3px;
            border-radius: 0 0 5px 5px;
            box-shadow: inset @shadow-4;
        }

        &.semitone{
            flex: 0;
            border: 0;
            z-index: 10;
            margin: 0;
            
            &:before{
                content: '';
                position: absolute;
                height: 100%;
                width: 26px;
                height: 125px;
                border-top: 1px solid #000;
                background: url('../../../../images/key-left.png') no-repeat 0 -3px;
            }

            &.left:before{
                margin: 0 0 0 -16px;
                background-image: url('../../../../images/key-left.png');
            }

            &.center:before{
                margin: 0 0 0 -12px;
                background: url('../../../../images/key-center.png') 0 -5px;
            }

            &.right:before{
                margin: 0 0 0 -9px;
                background-image: url('../../../../images/key-right.png');
            }

            &.active{
                &:before{
                    background-position: 0 0;
                }
                &.center:before{
                    background-position: 0 -2px;
                }
            }
        }
    }
}